.edit-page{
	padding:10px;
}
.edit-page div{
	margin-bottom:15px;
}
.edit-phone{
	padding:20px;
}
.profile-avatar {
	position: relative;
	width:80px;
	height:80px;
	padding: 0;
	margin: 20px auto;
	border-radius: 50%;
	overflow: hidden;
}

.profile-avatar img {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

.profile-avatar a {
	visibility: hidden;
	opacity: 0;
	transition: .3s linear;
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0, 0, 0, .3);
	border-radius: 50%;
	overflow: hidden;
}

.profile-avatar a i {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	transition: .3s linear;
	font-size: 22px;
}

.profile-avatar:hover a {
	visibility: visible;
	opacity: 1;
}

.profile-avatar:hover a i {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
