.title-location{
	padding: 10px 20px 10px 80px !important;
	font-size: 20px;
	font-weight:100;
}
.btn-location{
	margin-top: 20px;
	margin-bottom:20px;
}
.search-text{
	margin-bottom:10px;
	text-align: center;
}
.search-textbox{
	width:60% !important;
}
.btn-search{
	height:40px;
	width:30% !important;
}