.user-contact{
	text-align:center;
	font-size:20px;
	padding:10px 0 10px 0;
}
.comment-name{
	width:100% !important;
	resize:none;
}
.car-name{
	font-size:22px;
	margin-left:20px
}
.car-color{
	margin-left:20px
}
.car-user-img{
	height:70px; width:70px ;
}
.car-user-name{
	margin:10px 0px 0 20px;
}
.clear{
	clear:both;
}
.phone-icon{
	margin-left:5px;
}
.user-year{
	margin:10px;
}

.img-circle{
	border-radius:50%;
}
.left-side{
	float:left;
}
.ride-user-detail{
	margin-left:15px;
}
.pre-img{
	width:30px;
	height:30px;
}
.user_avtar_left{
	margin: 10px 0 0 20px;
}
.from-to{
	font-size: 22px;
}

